@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.cards-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;

}

.card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: $bg-black;
  border-radius: 8px;
  width: 170px;
  height: 254px;
  position: relative;
  margin-top: 20px;



  &::before, &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 10px 10px 0 0;
    z-index: -9;
    background-color: currentColor;
  }

&::before {
  height: 8px;
  top: -10px; 
  width: 154px;
  opacity: 0.6;
}

&::after {
  height: 5px;
  top: -17px; 
  width: 133px;
  opacity: 0.3;
}
  
  img {
    width: 170px;
    border-radius: 4px;
 
  }

  h3 {
    padding: 0;
    padding-top: 6.5px;

  }
  
  p {
    padding: 0;
    margin: 0;
    padding-top: 8px;
  }
}

.card-container {
    // overflow: auto;
    display: flex;
    gap: 30px;
}

.library-card-grid {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 11px;

}


// ეს სელექტორი პირდაპირ ეუბნება: 
// იპოვე ნებისმიერი img, რომელიც არის .round-item კლასის მქონე .grid-item-ის შიგნით
 
.album-round-item {
    @include round;
}       

.round-card {
    @include round;
}       

.grid-item {
    position: relative; // ეს აუცილებელია პინის პოზიციონირებისთვის
    display: inline-block;
    // width: 200px; // ან შენთვის სასურველი ზომა

    .pin-icon {
        position: absolute;
        // top: 10px;
        right: 8px;
        background-color: $bg-dark-grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        
        svg {
            width: 35px;
            height: 35px;
        }
    }

}

.pin-icon-down {
        position: absolute;
        bottom: 40px;
        right: 40px;
        background-color: $bg-dark-grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        
        svg {
            width: 35px;
            height: 35px;
        }
    }