@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;


  .player-left, .player-right {
    display: flex;
    align-items: center;
    gap: 15px; 
    justify-content: center;

    img {
    width: 28px;  // აქ დააყენე შენთვის სასურველი ზომა
    height: 28px;
    object-fit: contain; // იმისთვის, რომ აიკონები არ დაიმახინჯოს
    cursor: pointer;    // სურვილისამებრ
  }

  
  }
}

.space {
  width: auto !important; // აიკონს საკუთარი ზომის შენარჩუნების უფლებას ვაძლევთ
  flex-shrink: 0;        // flex-მა რომ არ შეკუმშოს ავტომატურად
  padding: 0 10px;       // თუ გინდა გვერდებზეც დაშორება მიუმატო
}
.space-for-icons {
  display: flex;
  justify-content: space-between; // ეს გაწევს მარცხენა და მარჯვენა ბლოკებს კიდეებში
  align-items: center;
  width: 100%; // ეს აუცილებელია!
  padding: 0 20px;
}

.song-info {
  display: flex;
  align-items: center;
}

.song-text {
  padding-left: 15px;
}

