@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;


  .player-left, .player-right {
    display: flex;
    align-items: center;
    gap: 15px; 
    justify-content: center;

    img {
    width: 28px;  
    height: 28px;
    object-fit: contain; 
    cursor: pointer;    
  }

  
  }
}

.space {
  width: auto !important; 
  flex-shrink: 0;        
  padding: 0 10px;       
}
.space-for-icons {
  // display: flex;
  // justify-content: space-between; 
  // align-items: center;
  // width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.song-info {
  display: flex;
  align-items: center;
}

.song-text {
  padding-left: 15px;
}

