@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;



.header-navigation {

  align-items: center; 
  height: 54px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  top: 0;
  left: 0;
}

.top-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

// Styles for 1st list in main navigation - top right

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  

  .nav-link {
    
    align-items: center;

    &:nth-child(1) { width: 250px; }
    &:nth-child(2) { width: 210px; }
    &:nth-child(3) { width: 210px; }
    &:nth-child(4) { width: 350px; }

    a {
      display: flex;
      align-items: center;
      width: 100%;        
      box-sizing: border-box; 
      text-decoration: none;
      color: $text-primary;
      padding: 8px 12px;
      border-radius: 8px; 
      gap: 10px;

      &:hover {
        @include hover-active;
      }

      .nav-icon path {
  stroke: $text-primary; // ან შენი სასურველი საწყისი ფერი
  transition: stroke 0.3s ease;
}     

&:hover {
    @include hover-active;
    
    // 2. ჰოვერის დროს შეიცვალოს path-ის ფერი
    .nav-icon path {
      stroke: $text-active; // აქ მიუთითე ის ფერი, რომელიც გინდა ჰოვერზე
  
    }

  }

    }
  }
}

// .nav-icon-double {
//   padding: 6px;   
// }

/* ეს აიკონი ჯიუტობს */


// Styles for 2nd list / Top left navigation with icons inside

.action-nav-list {
  display: flex;
  gap: 13px;
  align-items: center;

  a {
    display: flex;
      align-items: center;
      width: 100%;        
      box-sizing: border-box; 
      text-decoration: none;
      color: $text-primary;
      border-radius: 8px;
      gap: 10px;

      &:hover {
        background-color: $bg-light-grey;
        color: $text-active;
      }
  }

  
}



.icon-nav {
  display: flex;
  list-style: none;
  align-items: center;

}



.library-content-header {
  @include content-header;
  padding-bottom: 21px;
}

.main-content-header {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-link {
  display: flex;       
  align-items: center; 
  height: 40px;       
  gap: 15px;          
  justify-content: center;
}


