@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;



.header-navigation {
  font-size: $font-size-medium;
  align-items: center; 
  height: 54px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  top: 0;
  left: 0;
}

.top-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

// Styles for 1st list in main navigation - top right

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;

  .nav-link {
    display: flex;
    align-items: center;

    &:nth-child(1) { width: 250px; }
    &:nth-child(2) { width: 210px; }
    &:nth-child(3) { width: 210px; }
    &:nth-child(4) { width: 350px; }

    &.Me-icon {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      color: $text-primary;
      padding: 8px 12px;
      border-radius: 8px;
      gap: 10px;
      transition: all 0.3s ease;

      .nav-icon path {
        stroke: $text-primary;
        transition: stroke 0.3s ease;
      }

      &:hover {
        @include hover-active;
        color: $text-active;

        .nav-icon path {
          stroke: $text-active;
        }
      }
    }
  }
}

// Styles for 2nd list / Top left navigation with icons inside

.action-nav-list {
  display: flex;
  gap: 13px;
  align-items: center;

  a {
    display: flex;
      align-items: center;
      width: 100%;        
      box-sizing: border-box; 
      text-decoration: none;
      color: $text-primary;
      border-radius: 8px;
      gap: 10px;

      &:hover {
        background-color: $bg-light-grey;
        color: $text-active;
      }
  }

  
}



.icon-nav {
  display: flex;
  list-style: none;
  align-items: center;

}


// End of mutual header styles 

// My Library Nav
.library-filter-buttons {
  @include content-header;
  padding-bottom: 21px;
  gap: 25px;
}

.library-filter-buttons img:last-child {
  margin-left: auto;
}

// Liked Songs Nav

.liked-songs-content-header {
  @include content-header;
  padding-bottom: 21px;
  gap: 25px;
}

.liked-songs-content-header img:first-child {
  margin-right: auto;
}


// Album Inner Nav

.filter-buttons {
  padding: 18px;
  padding-left: 0px;
  gap: 10px;
  
}

.filter-buttons img:hover {
  background-color: $text-muted;
}

.filter-buttons span:hover {
  color: $text-muted;
}


// Main Inner Nav

.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-link {
  display: flex;       
  align-items: center; 
  height: 40px;       
  gap: 15px;          
  justify-content: center;
}


// Search Page

.search-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}








