@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.sidebar {
  background-color: $bg-black;
  color: $text-primary;
  font-size: $font-size-medium;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 259px;
  height: 100vh;
  // padding-top: 12px;
  position: fixed;
  top: 54px;
  left: 0;
  
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  

}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.sidebar-nav .nav-link a {
  
padding-left: 20px;


&:hover {
        @include hover-active;
      }


.nav-icon path {
  stroke: $text-primary; 
  transition: stroke 0.3s ease;
}     


&:hover {
    @include hover-active;
   
    .nav-icon path {
      stroke: $text-active; 
  
    }

  }
}

.nav-link {
  &:hover {
  color: $bg-dark-grey;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
  
}

}
  


.nav-link {
  display: flex;       
  align-items: center; 
  height: 40px;       
  justify-content: center;
  
  a {
    display: flex;     
    align-items: center;
    gap: 10px;
    color: $text-primary;
    text-decoration: none;  
    width: 100%;       
    height: 100%; 
    
  
  }

  
}

