@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


body {
  font-family: 'Satoshi-Light';
  background-color: $bg-black;
  color: $text-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  margin: 0;
}

h1, h2, h3 {
  color: $text-active;
}

.container {
  max-width: 1810px;
  margin: 0 auto;
  // padding: 0px 20px;
}

.main-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 54px 1fr 81px;
  height: 100vh;
  // gap: 10px;
  
}

.header-container {
  grid-column: 1/-1;
  // border: 2px solid red;
}

.sidebar {
  grid-column-start: 1;
  grid-row-start: span 2;
  // border: 2px solid red;
}

.main-content {
  grid-column-start: 2;
  grid-row-start: 2;
  overflow-y: auto;
  border: 1px solid $border-col;
  border-radius: 8px;
  padding: 25px;
}

footer {
  grid-column: 2/-1;
  grid-row-start: 3;
  // border: 2px solid red;
  height: 81px;
  background-color: $footer-col;
  border-radius: 8px;

}


.section-name {

  display: flex;
  align-items: center;
  justify-content: space-between

}  